<div class='w-full md:mt-12 relative flex flex-col md:flex-row space-y-10 md:space-y-0 md:space-x-10 justify-between'>
  <div class='flex flex-col gap-4'>
    <h1 class='font-bold text-3xl md:text-5xl md:leading-tight text-zinc-50 max-w-3xl'>
      Hey! I'm<span class='text-cyan-500'> Emmanuel Martinez</span> and I'm a full stack software engineer.
    </h1><p class='text-zinc-400 text-sm md:text-base max-w-2xl mt-8 md:leading-loose tracking-wide'>
      I've been obsessed with technology ever since I was a kid. When I wasn't taking apart my family's computer (sorry,
      mom), I was teaching myself how to code. Fast forward a few years, and now I'm a full-fledged code ninja with an
      insatiable thirst for creating beautiful websites and functional applications.
    </p>
    <div class='flex flex-col gap-4'>
      <p class='text-zinc-400 text-sm md:text-base max-w-2xl mt-8 md:leading-loose tracking-wide'>
        Here's a timeline of what I've been upto
      </p>
      <div class='flex flex-col gap-4'>
        <div class='flex flex-col gap-2'>
          <p class='text-zinc-400 text-sm md:text-base max-w-2xl mt-8 md:leading-loose tracking-wide'>
            Here's a timeline of what I've been upto
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
