---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
---
<Layout title="Homepage">
	<Header />
	<h1 class="text-2xl font-bold my-4">Emmanuel Martinez</h1>
	<p>This page will contain information about my homepage.</p>
	<p>Software Engineer</p>
</Layout>
