---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Projects'>
  <h1 class='text-2xl font-bold my-4'>Projects</h1>
  <p>This page will contain information about my projects.</p>
  <!-- Content will be fetched from Strapi later -->
</Layout>
